<div class="titleArea">
    <div class="w1200">
        <ul class="pageUtil">
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
        <h2 class="f_bold">공지사항</h2>
  </div>
</div>
<section class="w1200">
    <article class="notiCon_text">
        <p class="notiCon_cate f_gray2"><%= row.cate %></p>
        <h3 class="notiCon_tit f_medium"><%= row.title %></h3>
        <div class="notiCon_info f_gray2">
            <span>작성일: <%= row.date %></span>
            <span>조회수: 115</span>
        </div>
        <div class="notiContent_Box">
           <p> <%= row.content %> </p>
        </div>
    </article>
    <div class="notiConBtn">
        <button class="notiCon_editB f_bold" type="button" name="notiCon_editB" onclick="javascript:location.href='/notUp?id=<%= row.id %>'">수정</button>
        <button class="notiCon_listB f_bold" type="button" name="notiCon_listB" onclick="location.href='/sub_noticeList'">목록</button>
        
    </div>
</section>
<section class="w1200">
    <table class="notiCon_table">
        <colgroup>
            <col style="width: 20%;">
            <col style="width: auto;">
        </colgroup>
        <tbody>
            <tr>
                <td class="notiCon_label notiCon_label1"><p>이전글</p></td>
                <td class="notiCon_label1">이전글이 없습니다.</td>
            </tr>
            <tr>
                <td class="notiCon_label notiCon_label2"><p>다음글</p></td>
                <td class="notiCon_label2">수신상품 금리 변경안내(2022.11.8)</td>
            </tr>
        </tbody>
    </table>
</section>